<ion-view title="Heores" class="background">

  <div class="bar bar-subheader item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-ios7-search placeholder-icon"></i>
      <input id="searchKey" type="search" placeholder="Search" ng-model="searchKey" autocorrect="off" >
      <button class="button button-clear" ng-click="clearSearch()">X</button>
    </label>
  </div>

  <ion-content class="card-background-page">
   <!-- <ion-list>-->
      <!--<ion-item ng-repeat="hero in heroes | filter: searchKey" type="item-text-wrap" class="item-avatar"
                href="#/movies/{{hero.id}}">-->
        <div class="list" ng-repeat="hero in heroes | filter: searchKey" type="item-text-wrap" class="item-avatar"
             href="#/movies/{{hero.id}}">
          <a class="item item-thumbnail-left" href="#/movies/{{hero.id}}">
            <img src="{{hero.pic}}">
            <h2>{{hero.name}}</h2>
          </a>
        </div>

    <!--  </ion-item>-->
    <!--</ion-list>-->
  </ion-content>

</ion-view>
